@import "../styles/global";

.footer__div {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #efefef;

  div {
    text-align: center;
    width: 800px;
    margin-left: 100px;
  }
}
